$color-red: #E74C3C;
$color-blue-1: #2C3E50;
$color-white: #ECF0F1;
$color-blue-2: #2980B9;
$color-blue-3: #3498DB;

.color-red{
	color: $color-red
}

.color-blue-1 {
	color: $color-blue-1
}

.color-blue-2 {
	color: $color-blue-2
}

.color-blue-3 {
	color: $color-blue-3
}

.color-white {
	color: $color-white
}

.background-blue-1{
	background:$color-blue-1
}