<%- include base.ejs%>
   <head>
      <%- include head.ejs %>
   </head>
   <%- include header.ejs%>
   <main class="container">
       <div class="row">
          <div class="col-xs-12 com-sm-12 col-md-3 col-lg-3">
              <ul class="list-group">
                  <h3>Menu</h3>
                  <a href="/admin/settings/password"><li class="list-group-item">Password</li></a>
              </ul>
          </div>
       </div
   </main>
</html>